:root {
  /* Make 1 rem = 10px */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  position: relative;

  color: #171a20;
}
