.header,
.section,
.footer {
  height: 100vh;
}
/*

header start

*/
.header {
  padding: 0 4.8rem;
}

.header__top {
  background-color: blue;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img {
  width: 12rem;
  color: #ffffff;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  color: #ffffff;
}
.header-item {
  list-style: none;
  font-size: 1.4rem;
}
.btn-svg {
  width: 2.4rem;
  height: 2.4rem;
}
.header-icons-btn {
  background: none;
  border: none;
  color: #ffffff;
}
.header-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-icons-help {
  color: #ffffff;
}
.header__bottom {
  height: 93vh;
  background-color: cadetblue;
}

/*

header end

*/
/*

main start

*/
.main {
}

.section {
  background-color: red;
  border-bottom: 5px solid white;
}

/*

main end

*/

/*

footer start

*/
.footer {
  background-color: blueviolet;
}

/*

footer end

*/
